[submodule "mobileapp/androidnative"]
	path = mobileapp/androidnative
	url = https://github.com/redradist/OpenVote.Android.git
[submodule "mobileapp/xamarin"]
	path = mobileapp/xamarin
	url = https://github.com/redradist/OpenVote.Xamarin.git
[submodule "webapp/asp.net"]
	path = webapp/asp.net
	url = https://github.com/redradist/OpenVote.ASP.NET.git
[submodule "shared.net"]
	path = shared.net
	url = https://github.com/redradist/OpenVote.Shared.git
