[submodule "mobileapp/androidnative"]
	path = mobileapp/androidnative
	url = https://github.com/redradist/OpenElection_AndroidNative
[submodule "mobileapp/xamarin"]
	path = mobileapp/xamarin
	url = https://github.com/redradist/OpenElection_Xamarin.git
